$white:#FFF;
$isabelline: #EEEDED;
$spanish-gray: #989797;
$coral: #EACB31;
$buff: #F3E37C;
$vanilla: #F5E7A1;
$flame: #E4572E;
$light-red-achre: #E87554;
$pastel-pink: #F2B2A0;
$shiny-shamrock: #4CA866;
$turquoise-green: #9DCFAB;
$pastel-grey: #BDDFC7;
$blue-france: #3C91E6;
$blue-jeans: #5FA5EA;
$jordy-blue: #82B9EF;

$font-family-ptmono: "PT Mono", monospace;

$fs-xxxl: 70px;